#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #0a317f;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #0a317f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h3 {
  font-size: 18px;
  margin-bottom: 0.5rem; /* h3と次の段落の間隔を小さくする */
}

.App-header p:first-of-type {
  margin-top: 0; /* 最初の段落の上のマージンをなくす */
  font-size: 16px;
  font-weight: bold;
  color: orange;
}

.App-header p {
  font-size: 14px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.q_box {
  margin-top: 20px; /* 上部のマージンを20pxに設定 */
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  text-align: left;
  border: 2px solid #0a317f; /* 外枠を指定の色に変更 */
  padding: 10px; /* 内側の余白を追加 */
  border-radius: 5px; /* 角を丸くする（任意） */
  background-color: white; /* 背景色を白に設定 */
  color: #0a317f; /* テキストの色を指定の色に変更 */
}

.q_box p {
  margin-bottom: 0; /* 段落の下のマージンを0に設定 */
}

.start-button, .reset-button {
  display: block;
  width: 180px; /* ボタンの幅を統一 */
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-weight: bold; /* ボタンの文字を太くする */
  color: white;
}

.start-button {
  background-color: orange;
  box-shadow: 2px 2px 5px rgba(184, 170, 170, 0.3);
}

.reset-button {
  background-color: orange; /* リセットボタンの色をスタートボタンに合わせる */
  box-shadow: 2px 2px 5px rgba(184, 170, 170, 0.3); /* スタートボタンと同じ影を設定 */
}

.answer-button {
  display: block;
  width: 180px; /* ボタンの幅を統一 */
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #0a317f; /* 紺色に設定 */
  color: white; /* 白色の文字 */
  border: none;
  border-radius: 5px;
  font-weight: bold; /* ボタンの文字を太くする */
}

.answered-questions-box {
  margin-top: 30px;
  padding: 20px;
  border: 2px solid #0a317f;
  border-radius: 5px;
  background-color: white;
  color: #0a317f;
  max-width: 80%;
  text-align: left;
}

.answered-question-list {
  list-style-type: none;
  padding: 0;
}

.answered-question-list li {
  margin: 10px 0;
  font-size: 14px;
}

/* Modal styles */
.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background: white;
  padding: 2rem;
  border: 2px solid #0a317f;
  border-radius: 10px;
  outline: none;
  text-align: center;
  max-width: 95%; /* 幅を広くするために変更 */
  max-height: 80%;
  width: 600px; /* 固定幅を設定 */
  overflow: auto;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

.App-footer {
  background-color: #0a317f;
  color: white;
  padding: 10px 0;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.App-footer p {
  font-size: 9px;
}
