#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #0a317f;
  
}

.App {
  text-align: center;
}

.App-header {
  background-color: #0a317f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h3 {
  margin-bottom: 0.5rem; /* h3と次の段落の間隔を小さくする */
}

.App-header p:first-of-type {
  margin-top: 0; /* 最初の段落の上のマージンをなくす */
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.q_box {
  margin-top: 40px; /* 上部のマージンを30pxに設定 */
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  text-align: left;
  border: 2px solid #0a317f; /* 外枠を指定の色に変更 */
  padding: 10px; /* 内側の余白を追加 */
  border-radius: 5px; /* 角を丸くする（任意） */
  background-color: white; /* 背景色を白に設定 */
  color: #0a317f; /* テキストの色を指定の色に変更 */
}

.q_box p {
  margin-bottom: 0; /* 段落の下のマージンを0に設定 */
}

.question-list {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.question-list li {
  cursor: pointer;
  margin: 20px 0;
}

.question-list li:hover {
  text-decoration: underline;
}
